{% extends "base.html" %}
{% block content %}
<div class="option">
    <h1 class="login"><a href="./login" >LOGIN</a></h1>
    <h1 class="signup"><a href="./register" >SIGN UP</a></h1>
</div>
<input type="text" placeholder="name" class="name" id = "reg-name" name="name" !required style="margin-top: 1rem;">
<input type="email" placeholder="e.g. xyz@gmail.com" class="email" id = "reg-email" name="email" !required style="margin-top: 1rem;">
<input type="password" placeholder="password" class="password" id = "reg-password" name="password" !required style="margin-top: 1rem;">
<div class="education">
    <select name="edu" id="edu" class="edu">
        <option value="Under Graduate">Under Graduate</option>
        <option value="Post Graduate">Post Graduate</option>
        <option value="phd">phd</option>
        <option value="Graduate">Graduate</option>
    </select>
</div>
<div class="profession">
    <input type="radio" id="prof1" name="profession" value="student">
    <label for="student">Student</label><br>
    <input type="radio" id="prof2" name="profession" value="teacher">
    <label for="teacher">Teacher</label><br>
</div>
<div class="dob">
    <label for="birthday">DOB:</label>
    <input type="date" id="birthday" name="birthday">
</div>
<button class="register" id="register">Sign up</button>
{% endblock %}